body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

}

h1 {
  text-align: center;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 65px;
  /* animation: rotation 8s infinite linear; */
  font-size: 72px;
  background: -webkit-linear-gradient(orange, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  background: -webkit-linear-gradient(orange, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo {
  width: 100px;
  animation: rotation 8s infinite linear;
  
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#buildburger {
  text-align: center;
}


 /* #you-did-not {
  text-align: right;
}  */

/* #devour-ul {
  float: right;
  
} */

label {
  font-size: 20px;;
  font-family: 'Big Shoulders Stencil Display', cursive;
  background: -webkit-linear-gradient(orange, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#create-form {
  text-align: center;
}



/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  */
  